<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuEH2tpTOrQ11zlj7uurV9qGi-1wimd_I</string>
	<key>GCM_SENDER_ID</key>
	<string>213075599779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jyotsna.JDApex-Predators</string>
	<key>PROJECT_ID</key>
	<string>bbquotes</string>
	<key>STORAGE_BUCKET</key>
	<string>bbquotes.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213075599779:ios:c14d5936975c9f63a2ba16</string>
</dict>
</plist>